.popup-notification {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1050;
    width: auto;
    min-width: 300px;
  }
  
  .toast {
    background-color: green;
    color: white; 
    opacity: 1; 
    border-radius: 0; 
    margin-top: 10px;
  }

  /* General Styles */
/* .container {
  font-family: 'Arial', sans-serif;
  color: #333;
  padding-top: 20px;
} */

body {
  background-color: #333;
}

/* Navigation Bar Styles */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #333;
  color: white;
  padding: 10px;
}

nav a {
  color: white;
  text-decoration: none;
  padding: 0 15px;
}

nav a:hover {
  text-decoration: underline;
}

.card:hover {
  border-color: lightgray;
  background-color: white;
  border-radius: 1rem;
  border-width: 2px;
  transform: scale(1.03);
}

.card {
  background-color: lightgrey;
  border-color: white;
  border-radius: 1rem;
  border-width: 2px;
  padding: 1rem;
  justify-content: center;
}


#CategoryButtons a,
#CategoryButtons a:visited,
#CategoryButtons a:active {
  color: black;
  text-decoration: none;
}

/* Styles for the card */
.Bcard {
  background-color: lightgrey;
  border-color: white;
  border-radius: 1rem;
  border-width: 2px;
  padding: 1rem;
  justify-content: center;
}

/* Styles for the card when hovered */
.Bcard:hover {
  border-color: white;
  background-color: #333;
  border-radius: 1rem;
  border-width: 10px;
  transform: scale(1.03);
  color: white;
}


.Bcard:hover a, .Bcard:hover a:visited .Bcard:hover a:active{
  color: white !important;
}


/* Form Styles */
form .form-control, form .form-select {
  border-radius: 0;
}

form .btn {
  background: #007bff;
  color: white;
  border-radius: 0;
}

form .btn:hover {
  background: #0056b3;
}

/* Footer Styles */
footer {
  background: #333;
  color: white;
  text-align: center;
  padding: 20px 0;
  margin-top: 40px;
}

/* Header Styles */
header{
  padding-top: 50px;
  margin: 0%; 
  color: white;
}

/* Carousel base class */
.carousel {
  margin-bottom: 4rem;
}

.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

.carousel-item {
  height: 50rem;
}

@media (min-width: 40em) {
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}

/* Marketing Containers below Carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}

.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}

img{
  border-radius: 1rem;
}

.productView {
  font-family: 'Arial', sans-serif;
  text-align: left;
  padding: 5px;
}

.ImageContainer {
  justify-content: center;
  align-content: center;
  text-align: center;
  padding-bottom: 20px;
  box-shadow: 0 4px 2px -2px gray;
}

#pvcontent{
  font-family: 'Arial', sans-serif;
  color: white;
  padding-top: 20px;
}

